body {
    background-color: #638cb8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    margin-top: auto;
    text-decoration: underline ;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #fff;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}

input::placeholder {
    color: #d3d3d3;
    opacity: 0.8; 
}

.submit {
    background-color: #6ba3e8;
}

.center-column {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 600px;
    margin: 100px auto;  
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.item-row {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; */
    background-color: darkcyan;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);

}

.btn-danger {
    background-color: #ffae19;
    border-color: #e59400;
} 