body {
    background-color: lightslategray;
    font-family:  sans-serif;
}

p {
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
}
input{
    padding: 4px 8px ;
    font-size: 14px;
    display: block;
    border: 1px solid black;
    border-radius: 4px; 
    box-sizing: border-box;
    background-color: darkslategrey;
    color: white;
    margin-left: 15%;
    
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    margin-right: 15%;
    
}
